<div class="container">
    <h1>Criar publição</h1>
    <form method="POST" action="?pagina=admin&metodo=insert">
        <div class="form-group">
          <label for="exampleInputEmail1">Título</label>
          <input type="text" class="form-control" name="titulo" id="titulo" aria-describedby="titulo" placeholder="">
        </div>
        <div class="form-group mt-3">
            <label for="exampleFormControlTextarea1">Conteúdo</label>
            <textarea name="conteudo" class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
          </div>        

        <button type="submit" class="btn btn-primary mt-3">Enviar</button>
      </form>
</div>

